Repository launchdarkly/gha-flags: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, build, test, action-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: 'dist/'
      - id: trailing-whitespace
        exclude: 'dist/'

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint
        types_or: [javascript]
        language: node
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: npm run prettier:write:path
        types_or: [javascript, json, markdown, yaml]
        language: node

      - id: build
        name: build
        entry: npm run build
        types_or: [javascript]
        language: node
        pass_filenames: false

      - id: test
        name: test
        entry: npm run test
        types_or: [javascript]
        language: node

      - id: action-docs
        name: action-docs
        entry: npm run docs
        pass_filenames: false
        language: node
        files: action.yml

add npm as dev dependecy
  package.json
Due: prettier

update lock file
  package-lock.json
Due: prettier

trying again
  package-lock.json
Due: prettier

fix: Replace process.exitCode usage with process.exit
  dist/index.js
  package-lock.json
  src/action.js
  src/client.js
  src/index.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test

null is valid; undefined is not
  dist/index.js
  src/action.js
  src/client.js
Due: eslint, prettier, build, test

fix: Replace process.exitCode usage with process.exit (#71)
  dist/index.js
  package-lock.json
  src/action.js
  src/client.js
  src/index.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test

fix: Nest proxy options appropriately (#69)
  dist/index.js
  src/action.js
  tests/index.test.js
Due: eslint, prettier, build, test

npm run build
  dist/index.js
  package-lock.json
Due: eslint, prettier, build, test

chore: Update fetch-depth comment
  .github/workflows/ci.yml
Due: prettier

chore: Remove fetch-depth from CI workflow
  .github/workflows/ci.yml
Due: prettier

chore: Update fetch-depth comment (#73)
  .github/workflows/ci.yml
Due: prettier

fix: Bump to github runner to node 24
  action.yml
  package-lock.json
Due: prettier, action-docs

fix: Bump to github runner to node 24 (#76)
  action.yml
  package-lock.json
Due: prettier, action-docs

chore: Bump @actions/core from 1.10.0 to 2.0.3
  dist/LICENSE
  dist/index.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

chore: Bump @actions/core from 1.10.0 to 2.0.3 (#78)
  dist/LICENSE
  dist/index.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

chore: Bump @actions/core from 2.0.3 to 3.0.0
  .eslintrc.cjs
  babel.config.js
  dist/LICENSE
  dist/index.js
  dist/package.json
  package-lock.json
  package.json
  tests/index.test.js
Due: eslint, prettier, build, test

fix: Replace ncc with esbuild for ESM-compatible bundling
  dist/LICENSE
  dist/index.js
  dist/package.json
  package-lock.json
  package.json
Due: eslint, prettier, build, test

fix: Add pass_filenames: false to test pre-commit hook
  .pre-commit-config.yaml
Due: prettier

fix: Stop calling real @actions/core functions in tests
  tests/index.test.js
Due: eslint, prettier, build, test

chore: Bump @actions/core from 2.0.3 to 3.0.0 (#79)
  .eslintrc.cjs
  .pre-commit-config.yaml
  babel.config.js
  dist/LICENSE
  dist/index.js
  package-lock.json
  package.json
  tests/index.test.js
Due: eslint, prettier, build, test

fix: ensure flush() is awaited before close() in LDClient
  dist/index.js
  src/client.js
  tests/index.test.js
Due: eslint, prettier, build, test

fix: Await flush to ensure events are sent on shutdown (#81)
  dist/index.js
  src/client.js
  tests/index.test.js
Due: eslint, prettier, build, test

[SEC-7924] chore: pin third-party GitHub Actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: prettier

Apply suggestion from @keelerm84
  .github/workflows/release-please.yml
Due: prettier

chore: [SEC-7924] pin third-party GitHub Actions to commit SHAs (#84)
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: prettier

Update SECURITY.md to reflect bug bounty program
  SECURITY.md
Due: prettier

Update SECURITY.md to reflect bug bounty program (#87)
  SECURITY.md
Due: prettier

fix: remediate high & critical Dependabot and Wiz vulnerabilities
  dist/index.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

fix: trim trailing whitespace in SECURITY.md (pre-existing)
  SECURITY.md
Due: prettier

chore: apply pre-commit formatting (prettier, trailing-whitespace)
  .github/dependabot.yml
  SECURITY.md
Due: prettier

chore: rebuild dist with esbuild 0.28.1
  dist/index.js
Due: eslint, prettier, build, test

fix: remediate high & critical Dependabot and Wiz vulnerabilities (#89)
  dist/index.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

fix: update LaunchDarkly SDK and use native initialization timeout
  dist/index.js
  package-lock.json
  package.json
  src/client.js
Due: eslint, prettier, build, test

fix: Repair CI broken by pre-commit 4.6.2 and pin the version
  .github/dependabot.yml
  .github/requirements-pre-commit.txt
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: prettier

chore: Repair CI broken by pre-commit 4.6.2 and pin the version (#119)
  .github/dependabot.yml
  .github/requirements-pre-commit.txt
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: prettier

chore: Remove pre-commit in favor of explicit CI checks
  .github/dependabot.yml
  .github/requirements-pre-commit.txt
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  package.json
Due: prettier

chore: Address review — ci-build runs the verify script verbatim
  .github/workflows/ci.yml
Due: prettier

chore: Remove pre-commit in favor of explicit CI checks (#124)
  .github/dependabot.yml
  .github/requirements-pre-commit.txt
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  package.json
Due: prettier

chore: Migrate release-please action to googleapis/release-please-action v5
  .github/workflows/release-please.yml
Due: prettier

chore: rebuild dist with node-server-sdk 9.13.4
  dist/index.js
Due: eslint, prettier, build, test
