Repository launchdarkly/gha-flags: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, build, test, action-docs

eslint:
  name: eslint
  entry: npm run lint
  language: node
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:write:path
  language: node

build:
  name: build
  entry: npm run build
  language: node
  pass_filenames: false

test:
  name: test
  entry: npm run test
  language: node

action-docs:
  name: action-docs
  entry: npm run docs
  pass_filenames: false
  language: node

move return into try block
  client.js
  dist/index.js
Due: eslint, prettier, build, test

re-enable timeout
  client.js
  dist/index.js
Due: eslint, prettier, build, test

add default values, expect failing test
  .github/workflows/offline.yml
  client.js
  dist/index.js
Due: eslint, prettier, build, test

trim default values, check test passes
  .github/workflows/offline.yml
  client.js
  dist/index.js
Due: eslint, prettier, build, test

offline check
  client.js
  dist/index.js
Due: eslint, prettier, build, test

test
  client.js
  dist/index.js
Due: eslint, prettier, build, test

build map of flags and default values to process
  .github/workflows/offline.yml
  client.js
  dist/index.js
Due: eslint, prettier, build, test

logic around parsing flags with default values
  client.js
  dist/index.js
Due: eslint, prettier, build, test

fix array logic
  client.js
  dist/index.js
Due: eslint, prettier, build, test

debug logic for processing flags
  client.js
  dist/index.js
Due: eslint, prettier, build, test

switch foreach to map
  client.js
  dist/index.js
Due: eslint, prettier, build, test

fix returning value
  client.js
  dist/index.js
Due: eslint, prettier, build, test

remove unused var
  client.js
  dist/index.js
Due: eslint, prettier, build, test

remove logging instance url
  action.js
  dist/index.js
Due: eslint, prettier, build, test

update tests
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test

update README
  README.md
Due: prettier

test and README updates
  README.md
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test

Update client.js
  client.js
Due: eslint, prettier, build, test

update trim strings
  client.js
Due: eslint, prettier, build, test

new build
  dist/index.js
Due: eslint, prettier, build, test

switch flagKeys to flags for new default value support
  README.md
  action.js
  dist/index.js
Due: eslint, prettier, build, test

update tests
  .github/workflows/basic.yml
  .github/workflows/conditional.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/main.yml
  .github/workflows/offline.yml
  .github/workflows/parse-values.yml
  .github/workflows/user-key.yml
Due: prettier

update flag-key locations
  README.md
  action.yml
  configuration.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test, action-docs

update build
  dist/index.js
  tests/index.test.js
Due: eslint, prettier, build, test

update README and docs
  README.md
  action.yml
Due: prettier, action-docs

Default Values & Offline Mode (#35)
  .github/workflows/basic.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/main.yml
  .github/workflows/offline.yml
  .github/workflows/parse-values.yml
  .github/workflows/user-key.yml
  README.md
  action.js
  action.yml
  client.js
  configuration.js
  dist/index.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test, action-docs

changes users to contexts
  README.md
Due: prettier

First pass at contexts (#34)
  .github/workflows/basic.yml
  .github/workflows/conditional.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/main.yml
  .github/workflows/offline.yml
  .github/workflows/parse-values.yml
  .github/workflows/user-key.yml
  .gitignore
  README.md
  action.js
  action.yml
  client.js
  configuration.js
  dist/index.js
  package-lock.json
  package.json
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test, action-docs

remove key value of test and switch it to be GITHUB_REPOSITORY or if that does not exist the RUN_ID
  action.js
  dist/index.js
Due: eslint, prettier, build, test

fix initialization
  action.js
Due: eslint, prettier, build, test

rebuild
  dist/index.js
Due: eslint, prettier, build, test

only use repo name for bug in linking to contexts
  action.js
  dist/index.js
Due: eslint, prettier, build, test

switch last item method
  action.js
  dist/index.js
Due: eslint, prettier, build, test

Change hard-coded context key (#36)
  action.js
  dist/index.js
Due: eslint, prettier, build, test

beta callout
  README.md
Due: prettier

add CODEOWNERS
  CODEOWNERS
Due: none

formatting
  CODEOWNERS
Due: none

fix codeowners
  CODEOWNERS
Due: none

Beta callout (#37)
  CODEOWNERS
  README.md
Due: prettier

Beta rewording
  README.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  build: any of: \.(js|mjs|cjs)$
  test: any of: \.(js|mjs|cjs)$
  action-docs: any of: action.yml
