Repository launchdarkly/gha-flags: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, build, test

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:write:path
  language: system

build:
  name: build
  entry: npm run build
  language: system
  pass_filenames: false

test:
  name: test
  entry: npm run test
  language: system

packge lock update
  package-lock.json
Due: prettier

build
  dist/index.js
Due: eslint, prettier, build, test

Setup jest tests for the action (#28)
  .eslintrc.js
  .pre-commit-config.yaml
  action.js
  babel.config.js
  dist/index.js
  index.js
  package-lock.json
  package.json
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test

fix link typo
  README.md
Due: prettier

fix link typo in docs (#31)
  README.md
Due: prettier

add generate docs action
  README.md
  package.json
  yarn.lock
Due: prettier

update examples TOC
  README.md
Due: prettier

fix pkg
  package-lock.json
  package.json
  yarn.lock
Due: prettier

add precommit hook
  .pre-commit-config.yaml
Due: prettier

remove extra nl
  README.md
Due: prettier

nam step
  .github/workflows/pre-commit.yml
Due: prettier

update pre-commit hook order
  .pre-commit-config.yaml
Due: prettier

run prettier after docs update
  .pre-commit-config.yaml
  package.json
Due: prettier

Automated building docs from action.yaml (#32)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
  package-lock.json
  package.json
Due: prettier

update @actions/core
  package-lock.json
  package.json
Due: prettier

update @actions/core (#33)
  dist/index.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

first pass at contexts
  action.js
  package-lock.json
  package.json
Due: eslint, prettier, build, test

add updated build
  dist/index.js
Due: eslint, prettier, build, test

fixes for multi-kind context
  action.js
  client.js
  dist/index.js
Due: eslint, prettier, build, test

update ignores for easier local testing
  .gitignore
Due: none

add newline
  .gitignore
Due: none

use different instance
  .github/workflows/example-basic.yml
  .github/workflows/example-conditional.yml
  .github/workflows/example-custom-attributes.yml
  .github/workflows/example-deploy-environment.yml
  .github/workflows/example-disable-events.yml
  .github/workflows/example-parse-values.yml
  .github/workflows/example-user-key.yml
Due: prettier

test with different custom object
  action.js
Due: eslint, prettier, build, test

add key to custom object
  action.js
  dist/index.js
Due: eslint, prettier, build, test

fix filter
  action.js
Due: eslint, prettier, build, test

new build
  dist/index.js
Due: eslint, prettier, build, test

fix more filter logic
  action.js
  dist/index.js
Due: eslint, prettier, build, test

prettier fixes
  .github/workflows/example-basic.yml
  .github/workflows/example-conditional.yml
  .github/workflows/example-custom-attributes.yml
  .github/workflows/example-deploy-environment.yml
  .github/workflows/example-disable-events.yml
  .github/workflows/example-parse-values.yml
  .github/workflows/example-user-key.yml
Due: prettier

add different instance
  .github/workflows/main.yml
Due: prettier

rename workflows
  .github/workflows/basic.yml
  .github/workflows/conditional.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/parse-values.yml
  .github/workflows/user-key.yml
Due: prettier

add offline mode
  .github/workflows/offline.yml
  action.js
  client.js
  dist/index.js
Due: eslint, prettier, build, test

update action
  action.yml
Due: prettier

test SDK increase to 10 seconds
  client.js
  dist/index.js
Due: eslint, prettier, build, test

test SDK increase to 25 seconds
  client.js
  dist/index.js
Due: eslint, prettier, build, test

fix unneeded then
  .github/workflows/offline.yml
  client.js
  dist/index.js
Due: eslint, prettier, build, test

test await in try block
  client.js
  dist/index.js
Due: eslint, prettier, build, test

move debugging
  action.js
  client.js
  dist/index.js
Due: eslint, prettier, build, test

add return
  client.js
Due: eslint, prettier, build, test

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  build: any of: \.(js|mjs|cjs)$
  test: any of: \.(js|mjs|cjs)$
