Repository launchdarkly/gha-flags: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, build, test, action-docs

eslint:
  name: eslint
  entry: npm run lint
  language: node
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:write:path
  language: node

build:
  name: build
  entry: npm run build
  language: node
  pass_filenames: false

test:
  name: test
  entry: npm run test
  language: node

action-docs:
  name: action-docs
  entry: npm run docs
  pass_filenames: false
  language: node

Beta rewording (#38)
  README.md
Due: prettier

Bug bounty test - please ignore.... (bwjnsf)
  package.json
Due: prettier

Update SECURITY.md
  SECURITY.md
Due: prettier

Files modified by build hook with updated babel
  dist/index.js
Due: eslint, prettier, build, test

deps: Updating outdated dependencies
  action.yml
  client.js
  dist/LICENSE
  dist/index.js
  package-lock.json
  package.json
  tests/index.test.js
Due: eslint, prettier, build, test, action-docs

fix: Cleanup hanging timeout
  client.js
  dist/index.js
Due: eslint, prettier, build, test

deps: Update outdated dependencies (#46)
  action.yml
  client.js
  dist/LICENSE
  dist/index.js
  package-lock.json
  package.json
  tests/index.test.js
Due: eslint, prettier, build, test, action-docs

feat: Update user references with context replacements
  .github/workflows/custom-attributes.yml
  .github/workflows/user-key.yml
  README.md
  action.js
  action.yml
  dist/index.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test, action-docs

Fix file name
  .github/workflows/context-key.yml
Due: prettier

feat: Update user references with context replacements (#47)
  .github/workflows/context-key.yml
  .github/workflows/custom-attributes.yml
  README.md
  action.js
  action.yml
  dist/index.js
  tests/index.test.js
  tests/testUtils.js
Due: eslint, prettier, build, test, action-docs

refactor: Nest source files under src/
  dist/index.js
  package.json
  src/action.js
  src/client.js
  src/configuration.js
  src/index.js
  tests/testUtils.js
Due: eslint, prettier, build, test

refactor: Nest source files under src/ (#48)
  dist/index.js
  package.json
  src/action.js
  src/client.js
  src/configuration.js
  src/index.js
  tests/testUtils.js
Due: eslint, prettier, build, test

refactor: Reduce minor duplications in context creation
  dist/index.js
  src/action.js
Due: eslint, prettier, build, test

refactor: Reduce minor duplications in context creation (#49)
  dist/index.js
  src/action.js
Due: eslint, prettier, build, test

ci: Introduce release please
  .github/workflows/basic.yml
  .github/workflows/ci.yml
  .github/workflows/conditional.yml
  .github/workflows/context-key.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/main.yml
  .github/workflows/offline.yml
  .github/workflows/parse-values.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  DEVELOPMENT.md
  release-please-config.json
Due: prettier

ci: Introduce release please (#50)
  .github/workflows/basic.yml
  .github/workflows/ci.yml
  .github/workflows/conditional.yml
  .github/workflows/context-key.yml
  .github/workflows/custom-attributes.yml
  .github/workflows/deploy-environment.yml
  .github/workflows/disable-events.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/main.yml
  .github/workflows/offline.yml
  .github/workflows/parse-values.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  DEVELOPMENT.md
  release-please-config.json
Due: prettier

ci: Improve GH integration tests
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: prettier

ci: Improve GH integration tests (#52)
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: prettier

ci: Update version in README and package.json
  release-please-config.json
Due: prettier

Add missing annotations
  README.md
Due: prettier

now even prettier
  README.md
Due: prettier

ci: Update version in README and package.json (#53)
  README.md
  release-please-config.json
Due: prettier

feat: Remove `Date.now()` fallback for custom context key
  .github/workflows/ci.yml
  DEVELOPMENT.md
  dist/index.js
  src/action.js
Due: eslint, prettier, build, test

feat: Remove `Date.now()` fallback for custom context key (#55)
  .github/workflows/ci.yml
  DEVELOPMENT.md
  dist/index.js
  src/action.js
Due: eslint, prettier, build, test

chore: prepare for v1.0.0 release
  release-please-config.json
Due: prettier

chore: Prepare for v1.0.0 release (#56)
  release-please-config.json
Due: prettier

Fix README
  CHANGELOG.md
Due: prettier

My changelog is pretty enough
  .prettierignore
Due: none

chore: Remove the package tag from the tag version
  release-please-config.json
Due: prettier

chore: Remove the package tag from the tag version (#58)
  release-please-config.json
Due: prettier

docs: Fix changelog
  CHANGELOG.md
Due: prettier

Slight adjustment
  CHANGELOG.md
Due: prettier

fix: Remove beta designation
  README.md
Due: prettier

fix: Remove beta designation (#60)
  README.md
Due: prettier

Transfer code ownership
  .gitignore
  CODEOWNERS
Due: none

Change to team-automation
  CODEOWNERS
Due: none

chore: transfer code ownership (#65)
  .gitignore
  CODEOWNERS
Due: none

fix: Nest proxy options appropriately
  dist/index.js
  src/action.js
  tests/index.test.js
Due: eslint, prettier, build, test

chore: Update gh action dependencies
  .github/workflows/ci.yml
Due: prettier

Test node 20
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  build: any of: \.(js|mjs|cjs)$
  test: any of: \.(js|mjs|cjs)$
  action-docs: any of: action.yml
